<div id="page">
	{% if page.headline %}
		<section id="headline">		
			<div class="container">
				{{page.headline}}
			</div>
		</section>
	{% endif %}

{% include directory ~ '/partials/header.html.twig' %}	
	
	<section id="main">
	    <div class="container">
				<div class="row">
					<div id="content" class="col-md-9 col-sm-9 col-xs-12">
					    {{ page.content }}
					</div>
					{% if page.sidebar %}
					<div id="sidebar" class="sidebar col-md-3 col-sm-3 col-xs-12">
					    {{ page.sidebar }}
					</div>
					{% endif %}
				</div>
		</div>
	
		<aside id="sidebar">
	</section>
	
	<footer>
	    <div class="container">
			{{ page.footer }}
		</div>
	</footer>
</div>