	<header>
		<div class="container">		
			<div class="headerimg container">
				{{ page.header }}			
				<div class="mainnav">
					{{page.mainnav}}	
				</div>
			</div>

		</div>
	</header>